@import 'src/assets/styles/mixins/mixins';

.container {
  // height: 100%;
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ig-primary-background);

  .icon_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--ig-elevated-separator);

    .icon,
    svg {
      margin: 12px;
    }
  }
}

@include respond-above(sm) {
  .container {
    top: 0;
    width: 72px;
    height: 100%;

    .icon_wrapper {
      flex-direction: column;
      justify-content: flex-start;

      .icon,
      svg {
        box-sizing: content-box;
        min-width: 24px;
        min-height: 24px;
        padding: 12px;
        margin: 8px 0;
      }
    }
  }
}

@include respond-above(md) {
  .container {
    width: 244px;

    .icon_wrapper {
      align-items: flex-start;
    }
  }
}

@include respond-above(lg) {
  .container {
    width: 335px;

    .icon_wrapper {

    }
  }
}
