@import 'src/assets/styles/mixins/mixins';

.container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  main {
    width: 470px;
  }
}

@include respond-above(sm) {
  .container {
    margin-left: 72px;
  }
}

@include respond-above(md) {
  .container {
    margin-left: 244px;

    main {
      margin-right: 64px;
    }
  }
}

@include respond-above(lg) {
  .container {
    margin-left: 335px;
  }
}
