// Padding and margin space value for each 1 to 12 values
$space: 5px !default;

//Base unit used for spacing gutters
$base-unit: 15px;

//Screen Sizes
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 1264px;
$screen-lg: 1920px;
$screen-xl: 2080px;

$container-max-widths: (
  'xs': 556px,
  'sm': 748px,
  'md': 924px,
  'lg': 1265px,
  'xl': 1338px,
);

$breakpoints: (
  'xs': $screen-xs,
  'sm': $screen-sm,
  'md': $screen-md,
  'lg': $screen-lg,
  'xl': $screen-xl,
);

$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;